<div class="container text-center">

    <h1>Coming soon...</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam illo at rerum maxime, repellat incidunt soluta? Voluptatum, nesciunt cumque, optio magni perferendis, reprehenderit, vero aliquid dolorum voluptatibus nobis porro doloremque!</p>

</div>